.bg-about.container
  .row
    .col-md-9.col-md-offset-1
      .wraped-about
        %h3 Везбата - Шепотът на Душата
        %p ВЕЗБА е идея вдъхновена от красотата на българските шевици. Това е първата дигитална колекция на схеми и модели за шевици от различни региони на България.
        %p Моделите се стремят да пресъздадат с голяма точност автентичния вид на шевиците. Към всяка схема се обозначават и бодовете с които се изпълнява.
        %p В бългрските шевици е заложено универсално познание за природата и света. Те изобразяват по един символичен начин законите по които се движи битието. Изградени са на основата на ритъм, симетрия и форма. Везбарките са черепели вдъхновение от природата. Цветята и разстителните форми се срещат най-често в тях. Рядко присъстват насекоми, животни или хора.
        %p В шевиците са заложени част от символите на българската руничес­ка азбука, създадена преди 2500 – 2600 години. В следващите векове те запазват своя вид, обогатяват се с нови тълкувания и така до поробването ни от османлиите. Шевиците в живота на българите от редовите до царете са замествали писаната история на рода при обикновените хора и са показвали социалното статукво на човека, неговата професия, място във властта. Всяка българска шевица носи послание, което има различен смисъл в зависимост от мястото, на което е извезана на дрехата, колана, пояса, ръкавите, яката. И в Първото, и във Второто българско царство е имало болярин, който е отговарял за шевиците, както и за нововъведенията. В дрехите на нашите деди не е било възможно да има просто някакви красиви шевици. Дори формата на бода на шевицата, която е могла да бъде и шевица върху шевица, означава нещо съвсем конкретно. Източик: Алена
