.row.wrap-img
  .col-md-7.home-image
    = image_tag 'horo1.JPG'
  .col-md-5.title
    .row
      .col-md-8.col-md-offset-2
        %h1 Шевиците притежават силата на Слънцето, цветовете не Земята и богатството на българската ДУША
        %p ВЕЗБА е идея вдъхновена от богатството на българските шевици. Това е първата дигитална колекция на модели за шевици от различни региони на България.
        .button-home
          = link_to 'прочети повече', welcome_about_path
