.row.wrap-img
  .col-md-12
    -# = image_tag 'horo1.JPG'
    .col-md-8.col-md-offset-2.title
      .row.content-wrap
        .col-md-8.col-md-offset-2
          %h1 ВЕЗБА - ШЕПОТЪТ НА ДУШАТА
          %p Шевиците притежават силата на Слънцето, цветовете не Земята и богатството на българската Душа.
          -# %p Това е първата дигитална колекция на схеми и модели за шевици от различни региони на България. Моделите се стремят да пресъздадат с голяма точност автентичния вид на шевиците. Към всяка схема се обозначават и бодовете с които се изпълнява.
          .button-home
            = link_to 'прочети повече', welcome_about_path
