.row.wrap-img
  .col-md-7.home-image
    = image_tag 'horo1.JPG'
  .col-md-5.title
    .row.content-wrap
      .col-md-8.col-md-offset-2
        %h1 Шевиците притежават силата на Слънцето, цветовете не Земята и богатството на българската ДУША
        %p В шевиците е заложено универсално познание за природата и света. Те изобразяват по един символичен начин законите по които се движи битието. Изградени са на основата на ритъм, симетрия и форма. Везбарките са черепели вдъхновение от природата. Цветята и разстителните форми  най-много присъстват в тях. Рядко се срещат насекоми, животни и хора.
        .button-home
          = link_to 'прочети повече', welcome_about_path
