.wrapper
  margin-top: 60px
  margin-bottom: 130px
  border: 2px solid #ea3838
  padding: 60px 40px 0 40px

.name-single-show
  font-family: 'Kankin'
  color: #ea3838
  font-size: 40px
  text-align: left

.navbar-right
  margin-right: 0

.btn4
  float: right
  border-radius: 2px
  font-size: 20px
  color: white
  margin: 2% 3%
  -webkit-transition-duration: 0.6s
  transition-duration: 0.6s

.btn4
  a
    text-decoration: none
    color: white
    padding: 8px 20px
    float: right
    font-family: "Open Sans"
    text-transform: uppercase
    font-size: 16px
    font-weight: bold

.download-btn
  a
    background-color: #00ce0a
    &:hover
      color: white
      background-color: #00bc06
.back-btn
  a
    background-color: #ea3838
    &:hover
      background-color: #a31824


.img-single-show
  margin-top: 40px
  width: 100%
