.wrap-img
  .home-image
    padding: 60px 0
    img
      width: 100%
  .content-wrap
    border: 2px solid #ea3838
    padding: 140px 5px

  .title
    padding: 64px 59px
    h1
      color: #ea3838
      font-family: 'Kankin'
      font-size: 27px
      text-align: left
    p
      font-size: 16px
      font-family: 'Open Sans'
      color: #ea3838
      text-align: justify
    .button-home
      margin-top: 40px
      a, a:link, a:visited
        float: left
        color: #ea3838
        font-family: 'Open Sans'
        font-size: 16px
        font-weight: bold
        text-decoration: none
        border: 2px solid #ea3838
        border-radius: 2px
        padding: 15px
        transition: all 0.3s
        &:hover
          background-color: #ea3838
          color: white
