// Place all the styles related to the regions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body
  height: 100%
  margin: 0px
  padding: 0px
  text-align: center

.wraper
  min-height: 100%
  position: relative

.content
  padding-bottom: 100px

.brand
  margin-top: 6% 6%
  width: 50%

.row
  margin-left: 0
  margin-right: 0

.navbar
  margin: 25px 0
  z-index: 10

.navbar-default
  background-color: white
  border-color: white

.navbar-right
  li
    float: none
    display: inline-block
    margin: 0 12px 0 12px
    font-size: 22px
    font-family: 'Kankin'
    text-transform: uppercase
    a
      color: #ea3838
      text-decoration: none
    a:hover
      color: #00ce0a

.menu-btn.current
  color: #00ce0a

.wrap-div-region
  margin: 20px 0

.region-div
  padding-left: 0
  padding-right: 0

.box-img-text
  background-color: white
  border-radius: 2px
  margin: 10px

.img-region
  width: 100%

.div-region
  padding: 0 25px

.hovereffect
  margin-bottom: 50px
  a,
  a:link:visited:hover
    text-decoration: none

    .overlay
      border-top: 0 none
      transition: all 0.2s
      background-color: #ea3838
      font-family: 'Kankin'
      font-size: 30px
      padding: 22px 59px
      border: 2px solid #ea3838
      &:hover
        cursor: pointer
        background-color: white
        border: 2px solid #ea3838
        text-decoration: none

.region-title
  color: white

.overlay:hover .region-title
  color: #ea3838

.region-container
  padding-top: 40px
// BUTTONS
.add-wrap-div
  padding: 200px 0 300px 0
  background-color: white

// ADD NEW
.title-add
  font-family: 'Roboto', sans-serif
  font-weight: bold
  letter-spacing: -1px
  font-size: 40px
  margin-bottom: 10px

.footer span
  color: #777777
  text-transform: uppercase
  letter-spacing: 2px

.footer span a
  color: #777777
  text-transform: uppercase
  letter-spacing: 2px
  text-decoration: none
  &:hover
    color: #ea3838

.footer
  position: absolute
  bottom: 0
  left: 0
  width: 100%
  height: 120px
.footer p
  margin: 40px
  a
    text-decoration: none
    color: #ea3838
    border-radius: 36px
    padding: 6px 22px
    border: 2px solid #ea3838
    font-size: 40px
    font-weight: bold
    &:hover
      text-decoration: none
      background-color: #00ce0a
      color: white
      border: 2px solid #00ce0a
