%h1 Regions#show

= link_to 'Back to List', {action: 'index'}
%br
%br
%table
  %tr
    %th Name:
    %td
      = @region.name
  %tr
    %th Image:
    %td
      = @region.image
  %tr
    %th Descrioption:
    %td
      = @region.description
